<!-- product-list.component.html -->
<div class="wrapper">
    <app-header></app-header>
    <div class="content">

        <div class="flex justify-between m-4">
            <p class="text-3xl font-bold">{{pageTitle}}</p>
            <mat-icon>add_shopping_cart</mat-icon>
        </div>

        <div class="">
            <div class="flex justify-center m-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
                    <div *ngFor="let product of productList">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-col items-center">
                                <div>
                                    <img src="{{ product.imageUrl}}" alt="">
                                </div>

                                <div class="textDec"> {{ product.title}} </div>
                                <div>Price: {{product.price}} €</div>
                                <div class="textDec">Detail: {{product.detail}}</div>
                            </div>
                            <div class="flex flex-col gap-2">
                                <button class="nButton"
                                    (click)="addToCart('total: '+ product.title) + '\nPrice: '+ product.price">
                                    Add to Cart
                                </button>
                                <button class="nButton"
                                    (click)="addToCart('total: '+ product.title) + '\nPrice: '+ product.price">
                                    Buy Now
                                </button>

                                <button class="nButton" (click)="openDialog(product)">Update</button>
                                <button class="nButton" (click)="diaglogDelete(deleteItem)">Delete</button>
                                <div class="">
                                    <ng-template #deleteItem>
                                        <div class="flex flex-col gap-2 bg-orange-100">
                                            <div class=" m-4">
                                                <h3>Confirm to delete</h3>
                                                <p>ID: {{product._id}}</p>
                                                <p>Title: {{product.title}}</p>
                                                <p>Price: {{product.price}}</p>
                                            </div>

                                            <div class="flex">
                                                <button
                                                    class="bg-green-500 w-1/2 hover:underline underline-offset-4 decoration-slate-50 decoration-8 flex justify-center"
                                                    (click)="delete(product._id)"><span class="p-2">OK</span></button>

                                                <button
                                                    class="bg-orange-500  w-1/2 hover:underline underline-offset-4 decoration-slate-50 decoration-8 flex justify-center"
                                                    (click)="dialogRef.close()"><span class="p-2">Cancel</span></button>

                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>