<div>
    <app-header></app-header>
</div>
<h2 class="text-center">{{str}}</h2>
<div class="flex justify-center">
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 max-w-4xl">
        <div class="border border-yellow-600 rounded-lg p-2">
            <h3>modules/tuto/input-output</h3>
            <app-counter></app-counter>
        </div>

        <div class="border border-blue-600  rounded-lg p-2">
            <app-ngrx-counter></app-ngrx-counter>
        </div>

        <div class="border border-orange-600 rounded-lg p-2">
            <app-post></app-post>
        </div>
    </div>
</div>