<div>
    <app-header [_inpUsername]="str"></app-header>
</div>

<div class="flex justify-center">
    <div class="flex gap-2 flex-col">
        <div class="border border-yellow-600 p-3 rounded-lg">
            <h3>modules/tuto/input-output</h3>
            <app-counter></app-counter>
        </div>
        <div class="border border-blue-600 p-3  rounded-lg">
            <h3>ng.wali.co/src/app/modules/tuto/ngrx-counter</h3>
            <app-ngrx-counter></app-ngrx-counter>
        </div>
    </div>
</div>