<!-- product-list.component.html -->
<div class="wrapper">
    <app-header></app-header>
    <div class="content">
        <div class="leftPannel">
            <h4>ADMIN</h4>
            <div class="cat" (click)="onChangeComponent('ProductComponent')">Product</div>
            <div class="cat" (click)="onChangeComponent('UserComponent')">Users</div>
            <div class="cat" (click)="onChangeComponent('CategoryComponent')">Category</div>
            <div class="cat" (click)="onChangeComponent('OrderComponent')">Order</div>
            <div class="cat" (click)="onChangeComponent('CustomerComponent')">Customers</div>
            <div class="cat" (click)="onChangeComponent('CategoryComponent')">Statics</div>
            <div class="cat" (click)="onChangeComponent('CategoryComponent')">Reviews</div>
            <div class="cat" (click)="onChangeComponent('CategoryComponent')">Transactions</div>
            <div class="cat" (click)="onChangeComponent('CategoryComponent')">Hot Offers</div>
            <hr>
            <div class="cat">Appearance</div>
            <div class="cat">Settings</div>
        </div>
        <div class="rightPannel">
            <h4>Switching Compnents..</h4>


            <div [ngSwitch]="currentComponent">
                <div>
                    <app-user *ngSwitchCase="'UserComponent'"></app-user>
                </div>
                <app-category *ngSwitchCase="'CategoryComponent'"></app-category>
                <app-product *ngSwitchCase="'ProductComponent'"></app-product>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</div>