.content {
  display: flex;
}

.leftPannel {
  border-width: 0 3px 0 0;
  border-color: transparent rgb(160, 158, 158) transparent transparent;
}

.leftPannel > h4 {
  font-family: "Nova Round", sans-serif;
  padding: 5px 15px;
  font-size: 2rem;
  font-weight: 900;
  box-shadow: 5px;
  color: #131313;
  letter-spacing: 0.15em;
  color: #444444;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.rightPannel {
  padding: 15px;
}

.cat {
  padding: 5px 15px;
}

.cat:hover {
  cursor: pointer;
  color: white;
}

input {
  background-color: #ececec;
  padding: 5px;
  border-radius: 5px;
}
