/* terms-condition.component.css */
#main {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}

.articleHeader {
  color: black;
  font-weight: 500;
}

#bottomBar {
  display: flex;
  justify-content: right;
  gap: 2rem;
  margin: 0 50px 0 0;
}

.bottomBarBtn {
  color: white;
  padding: 10px;
  background-color: rgb(153, 153, 151);
  border: transparent;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  mat-dialog-content > h4,
  p {
    font-size: 1.2rem;
  }

  .bottomBarBtn {
    font-size: 1rem;
  }
}
