._nDark-hover:hover {
  color: #d37904;
}

._nLight-hover:hover {
  color: #2e59e6;
}
._nTop_bar_content {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 0.6rem;
}

._nTop_bar_content mat-icon {
  font-size: 1.2rem;
}

._nTop_bar_content a {
  display: flex;
  gap: 0.25rem;
  font-size: 0.7rem;
}

._nTopContact {
  display: flex;
  gap: 1rem;
}

._nTopRight {
  display: flex;
  gap: 1rem;
}
/* Navigation CSS */

._nNavBarContainer {
  background-color: rgb(82, 105, 99);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

._nMainMenu {
  display: flex;
}

._nMainMenuItems {
  padding: 1rem;
}

._nMatArrow {
  margin-left: -0.5rem;
}

._nMenuItems {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

._nMenuItems:hover {
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #dbe5e6 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._nSubMenu {
  margin-top: 1rem;
  position: absolute;
}

._nSubMenuItems {
  display: none;
}

._nMainMenuItems:hover ._nSubMenuItems {
  display: flex;
  padding: 0.5rem;
  background-color: rgb(82, 105, 99);
}

._nChildMenu {
  position: absolute;
  transform: translateX(100%) translateY(-10%);
  background-color: rgb(82, 105, 99);
}

._nChildMenuItems {
  width: max-content;
  display: none;
}

._nSubMenuItems:hover ._nChildMenuItems {
  display: inline-flex;
  padding: 0.5rem;
}

@media screen and (max-width: 550px) {
  ._nTop_bar_content a {
    font-size: 1rem;
  }

  ._nMainMenu {
    display: none;
  }
}
