@import url(https://fonts.googleapis.com/css?family=Nova+Round:regular);

header {
  font-family: "Nova Round", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.logoImg {
  max-width: 45px;
}

.icon {
  color: rgb(127, 191, 247);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top_bar {
  background-color: rgb(127, 128, 120);
}
.top_bar_content {
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.5rem;
  margin-right: 10px;
}

.top_bar_content section {
  display: flex;
  gap: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logoTxt {
  font-size: 1.5rem;
  font-weight: 900;
  padding-left: 10px;
}
