<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<header class="header">

    <!-- Header Top Bar -->
    <div class="top_bar">
        <div class="top_bar_content">
            <section class="phone">
                <i class="fa-solid fa-phone icon"></i>
                <a class="nav_link" routerLink="tel:+3378545454">+33 45 85 47 52 63</a>
            </section>
            <section class="email">
                <i class="fa-regular fa-envelope icon"></i>
                <a class="nav_link" routerLink="mailto:info@wali.co">Contact US</a>
            </section>
            <section class="login">
                <a routerLink="/auth/login"><i class="fa-solid fa-user-lock icon"></i></a>
            </section>
        </div>
    </div>

    <!-- Header Nav Menu -->
    <div class="bottom_bar">
        <div>
            <nav class="text-white">
                <ul class="flex space-x-4">
                    <li *ngFor="let item of menuItems" class="relative" [class.group]="item.children.length">
                        <a [routerLink]="item.link"
                            class="hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">{{
                            item.title }}</a>
                        <ul *ngIf="item.children.length"
                            class="absolute hidden group-hover:block bg-gray-700 border border-gray-600">
                            <li *ngFor="let child of item.children" class="px-3 py-2 hover:bg-gray-600">
                                <a [routerLink]="child.link" class="block">{{ child.title }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <button (click)="logout()">Logout</button>
        </div>

    </div>
</header>


<!-- 

How to use in Module..

<div class="wrapper">
    <app-header></app-header>
    <div class="content">
        <p>The Content of the Module..</p>
    </div>
    <app-footer></app-footer>
</div>


 -->