<div class="flex justify-center m-2">
    <div class=" flex gap-2 w-full max-w-screen-md">
        <input [(ngModel)]="inp_title" type="text" placeholder="Post Title"
            class="border border-orange-400 rounded p-2 w-1/4">
        <input [(ngModel)]="inp_body" type="text" placeholder="Post body"
            class="border border-orange-400 rounded p-2 w-3/4">
        <button (click)="addPost()" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Add</button>
    </div>
</div>