<div class="flex justify-center h-screen items-center">
    <div class="w-72">
        <h2>Registration Form</h2>
        <form action="#" method="post" (ngSubmit)="onSubmit()" class="nForm">
            <input [(ngModel)]="userData.username" type="text" id="username" name="username" required>
            <!--  <p>{{userData.username}}</p> -->
            <input [(ngModel)]="userData.email" type="email" id="email" name="email" required>
            <input [(ngModel)]="userData.password" type="password" id="password" name="password" required>
            <input [(ngModel)]="userData.password" type="password" id="confirm-password" name="confirm-password"
                required>
            <button type="submit" [disabled]="!userData.username || !userData.password">Register
            </button>
        </form>

        <!-- GET Request to fetch All User in Console -->
        <button (click)="getUser()">getUser</button>
    </div>
</div>