<div class="login">
    <div class="loginContent">
        <div id="loginTop">
            <h4>Welcome to W3Soft</h4>
            <form (ngSubmit)="onSubmit()" class="nForm">
                <div>
                    <input [(ngModel)]="userData.username" type="text" name="username" id="username"
                        placeholder="username">
                    <p>{{username}}</p>
                </div>
                <div>
                    <input [(ngModel)]="userData.password" [type]="fieldType ? 'text' : 'password'" name="password"
                        id="password" placeholder="password">

                    <div id="showPass"><input type="checkbox" (click)="toggleFieldTextType()"> Show</div>
                </div>
                <div id="loginBtnCont">
                    <button id="loginBtn" type="submit" [disabled]="!userData.username || !userData.password">
                        Login
                    </button>
                </div>
            </form>
        </div>

        <div class="socialMedia">
            <div class="google mediaIconTxt" (click)="googleLogin()">
                <span>Continue With</span>
                <img src="assets/img/Google-Logo.wine.svg" alt="">
            </div>
            <div class="gitHub mediaIconTxt" (click)="  githubLogin()">
                <span> Continue With GitHub </span>
                <img src="assets/img/GitHub-Logo.wine.svg" alt="">
            </div>
            <div class="microsoft mediaIconTxt" (click)="  microsoftLogin()">
                <span>Continue With</span>
                <img src="assets/img/Microsoft-Logo.wine.svg" alt="">
            </div>
            <div class="linkedin mediaIconTxt" (click)="  linkedInLogin()">
                <span>Continue With</span>
                <img src="assets/img/LinkedIn-Logo.wine.svg" alt="">
            </div>
        </div>
        <div class="register">
            <span>Don't have an account? &nbsp;</span>
            <button [routerLink]="['/auth/register']" id="signUp">Sign UP</button>
        </div>
        <div id="termsCondition">
            <p (click)=" openTermsConditionDialog()">Terms and Conditions</p>
        </div>
        <div>
            <!-- <button (click)="getAllUser()">Fetch All User</button> -->
            <button (click)="popupMsg(myDialog)">Fetch All User</button>
        </div>

        <ng-template #myDialog>
            <h2 matDialogTitle>Users List..</h2>
            <mat-dialog-content>
                <div *ngFor="let user of users.body">
                    <p>{{user.username}}</p>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-button matDialogClose color="primary">Dismiss</button>
            </mat-dialog-actions>
        </ng-template>
    </div>

</div>