.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContent {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0rem 0.5rem 2rem 0.5rem rgba(58, 58, 231, 0.2);
}

#loginTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

input {
  height: 2rem;
  max-width: fit-content;
  padding: 5px;
  border-color: transparent transparent blue transparent;
}

input:focus {
  border: 1px solid rgb(137, 187, 122);
}

#showPass {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#loginBtnCont {
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: right;
}

#loginBtn {
  padding: 10px;
}

.register {
  display: flex;
  justify-content: right;
}

.register button {
  padding: 0;
  background-color: transparent;
  border-color: transparent transparent blue transparent;
  cursor: pointer;
}

#signUp {
  color: blue;
  font-weight: 700;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

.socialMedia img {
  width: 90px;
}

.microsoft img {
  width: 100px;
}

.mediaIconTxt {
  display: flex;
  align-items: center;
  border: 1px solid rgb(175, 175, 185);
  margin: 2px;
  padding: 0px 10px;
  transition: all 0.3s;
}

.mediaIconTxt:hover {
  background-color: aliceblue;
  cursor: pointer;
}

#termsCondition {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

#termsCondition > p {
  color: blue;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 4px solid rgb(172, 113, 4);
  border-radius: 20%;
}

@media screen and (max-width: 700px) {
}
