<div class="flex flex-col gap-2">
    <div class="flex gap-2 items-center">
        <select [(ngModel)]="selectedMainCat" (change)="onMainCatChange()">
            <option value="">Please Select</option>
            <option *ngFor="let mainCat of mainCategories" [ngValue]="mainCat">{{ mainCat }}</option>
        </select><span>{{selectedMainCat}}</span>
    </div>

    <div class="flex gap-2 items-center">
        <select [(ngModel)]="selectedSubCat" (change)="onSubCatChange()" *ngIf="subCategories.length > 0">
            <option value="">Please Select</option>
            <option *ngFor="let subCat of subCategories" [ngValue]="subCat">{{ subCat }}</option>
        </select><span>{{selectedSubCat}}</span>
    </div>

    <div class="flex gap-2 items-center">
        <select [(ngModel)]="selectedChild_1Cat" *ngIf="childCategories.length">
            <option value="">Please Select</option>
            <option *ngFor="let childCat of childCategories">{{ childCat }}</option>
        </select><span>{{selectedChild_1Cat}}</span>
    </div>
    <div>
        <button (click)=" getDt()" class="nButton">Get Data</button>
    </div>
    <pre *ngIf="output">{{output | json}}</pre>
</div>