<p>Product .. Catalog</p>


<div class="flex gap-2">
    <div>
        <div>{{mainCatBind}}</div>
        <div class="flex flex-col gap-2">
            <label>Select Main Category</label>
            <select [(ngModel)]="mainCatBind" (change)="onSelectionChange($event)">
                <ng-container *ngFor="let category of categories | uniqueValue:'mainCat'">
                    <option [value]="category.mainCat">{{category.mainCat}}</option>
                </ng-container>
            </select>
        </div>

    </div>
    <div>
        <div>{{subCatBind}}</div>
        <div class="flex flex-col gap-2">
            <label>Select SubCategory</label>
            <select [(ngModel)]="subCatBind" (change)="onSelectionChange($event)">
                <ng-container *ngFor="let category of subCategories">
                    <option *ngIf="category" [value]="category">{{ category }} </option>
                </ng-container>
            </select>
        </div>
    </div>
    <div>
        <div>{{childCatBind_1}}</div>
        <div class="flex flex-col gap-2">
            <label>Select ChildCategory</label>
            <select [(ngModel)]="childCatBind_1" (change)="onSelectionChange($event)">
                <ng-container *ngFor="let category of childCategories_1">
                    <option [value]="category">{{ category }} </option>
                </ng-container>
            </select>
        </div>

    </div>

</div>

<br>
<br>
<div>
    <mat-form-field>
        <mat-select (selectionChange)="getSub($event)">
            <mat-option>Not Selected</mat-option>
            <mat-option *ngFor="let item of subjects | keyvalue" [value]="item.key">{{item.value}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>