<app-header></app-header>

<div>
    <div class="m-4 flex justify-center">
        <form [formGroup]="nForm" class="nForm">
            <div>
                <input type="text" formControlName="name" placeholder="name">
                <div *ngIf="name?.errors?.['required']">Name is required.</div>
                <div *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters long.</div>
            </div>
            <div>
                <input type="text" formControlName="email" placeholder="email">
                <div *ngIf="email?.errors?.['required']">Email is required.</div>
                <div *ngIf="email?.errors?.['minlength']">Enter a valid Email Address</div>
            </div>
            <div>
                <input type="text" formControlName="password" placeholder="password">
                <div *ngIf="password?.errors?.['required']">Password is required.</div>
                <div *ngIf="password?.errors?.['minlength']">Email Length not Correct</div>
            </div>
            <button (click)="onSubmit()" type="submit" [disabled]="!nForm.valid">
                Submit</button>
        </form>
    </div>

    <!-- test for wali -->
    <div class="flex justify-center">
        <p>Hello wali..</p>
        <input type="text" class="border-b-8 border-orange-500 rounded-2xl text-center m-2 outline-none"
            placeholder="Enter Name">
        <div class="bg-orange-600  border-2 rounded-full w-16 h-16 flex items-center justify-center">Click</div>
    </div>
</div>