<app-header></app-header>



<div class="flex flex-col items-center">
    <div class="text-center text-2xl font-bold font-sans">Example of Multilevel Select Option that has dependencies..
    </div>

    <div>

        <select [(ngModel)]="selectedCountry" (change)="onCountryChange()">
            <option *ngFor="let country of data" [ngValue]="country">{{country.country}}</option>
        </select>

        <!-- <select [(ngModel)]="selectedCity" *ngIf="selectedCountry">
            <option *ngFor="let city of selectedCountry.cities" [ngValue]="city">{{city.name}}</option>
        </select> -->

        <!-- <select *ngIf="selectedCity">
            <option *ngFor="let postcode of selectedCity.postcodes">{{postcode}}</option>
        </select> -->



    </div>
<div>
    <input class="nInput" type="text" [(ngModel)]="searchTerm">
    <ul>
        <li *ngFor="let dt of jsonDt | filterByProperty: searchTerm : 'country'">
            {{ dt.country }} - {{ dt.city }}
        </li>
    </ul>
</div>
</div>