<app-header></app-header>
<div class="wrapper">
    <div class="content m-2">
        <div class="flex justify-center m-2">
            <div class="flex justify-center items-center gap-2 text-2xl">
                <span>Total Posts:</span>
                <span class="font-bold underline underline-offset-2 text-orange-600 cursor-pointer"
                    [routerLink]="['/post']">
                    {{(posts$ | async)?.length}}
                </span>
                <span class="flex items-center justify-center" [routerLink]="['add']">
                    <mat-icon fontIcon="post_add" class="text-green-700 matIcon"></mat-icon>
                </span>
            </div>
        </div>

        <div>
            <router-outlet></router-outlet>
        </div>

        <div class="relative overflow-x-auto flex justify-center">
            <table class="w-full text-sm text-left rtl:text-right max-w-2xl">
                <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">UserID</th>
                        <th scope="col" class="px-6 py-3">Title</th>
                        <th scope="col" class="px-6 py-3">Content</th>
                        <th scope="col" class="px-6 py-3"></th>
                    </tr>
                </thead>
                <tbody class="text-xs">
                    <tr *ngFor="let item of (posts$ | async)"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th>{{item.id}}</th>
                        <th>{{item.userId}}</th>
                        <th>{{item.title}}</th>
                        <th>{{item.body}}</th>
                        <th>
                            <div (click)="openDialog(item)">
                                <mat-icon fontIcon="edit" class="text-green-500 text-xl cursor-pointer"></mat-icon>
                            </div>
                            <!-- <div [routerLink]="['edit', item.id]" routerLinkActive="router-link-active">
                                <mat-icon fontIcon="edit" class="text-green-500 text-xl"></mat-icon>
                            </div> -->
                            <div (click)="deletePost(item.id)">
                                <mat-icon fontIcon="delete" class="text-red-500 text-xl cursor-pointer"></mat-icon>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>