<div class="_page">

    <ul class="_nNav">
        <li *ngFor="let mainItems of navMenu.menu" class="_nMainMenu">
            <span class="_nItemAndIcon">
                <mat-icon class="_nFont">{{mainItems.icon}}</mat-icon>
                <span class="_nFont">{{mainItems.title}}</span>
                <mat-icon class="_nFont" *ngIf="mainItems.subMenu!.length">keyboard_arrow_down</mat-icon>
            </span>

            <ul class="_nSubMenu">
                <li *ngFor="let subItems of mainItems.subMenu" class="_nSubMenuItems">
                    <div class="_nSub">
                        <span class="_nItemAndIcon" _nSubItems>
                            <mat-icon class="_nFont">{{subItems.icon}}</mat-icon>
                            <span class="_nFont">{{subItems.title}}</span>
                            <mat-icon class="_nFont" *ngIf="subItems.subMenu!.length">keyboard_arrow_right</mat-icon>
                        </span>
                        <ul *ngIf="subItems.subMenu!.length" class="_nChildMenu">
                            <li *ngFor="let childItems of subItems.subMenu" class="_nChildItems">
                                <div #_nChildMenu class="_nChild">
                                    <div class="_nItemAndIcon">
                                        <mat-icon class="_nFont">{{childItems.icon}}</mat-icon>
                                        <span class="_nFont">{{childItems.title}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        <li>
    </ul>

    <div>
        <div class="flex flex-col items-center">
            <p>custom-pipe works!</p>

            <div>
                <p>Short Date: {{ date | multiArg:'fr-FR':'short' }}</p>
                <p>Long Date: {{ date | multiArg:'fr-FR':'long' }}</p>
            </div>

            <button class="nButton" (click)="getUnique() ; getNmae()">getUnique</button>
        </div>
        <br>
    </div>
    <div class="_nFooter">
        <div class="foterContent">
            <div>Left</div>
            <div>Center</div>
            <div>Right</div>
        </div>
    </div>