._page {
  background-color: rgb(57, 57, 58);
  color: aliceblue;
  height: 100dvh;
}

ul li {
  list-style: none;
}

._nNav {
  display: flex;
  gap: 10px;
  background-color: rgb(33, 75, 92);
}

._nItemAndIcon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

._nMainMenu {
  transition: 1s;
  padding: 20px;
  width: max-content; /* Here this width is the base of translateX in ._nChildMenu */
}

._nMainMenu:hover {
  background-color: rgb(33, 75, 92);
}

._nSubMenu {
  display: none;
  position: absolute;
  background-color: rgb(33, 75, 92);
}

._nSubMenuItems {
  display: flex;
}

._nMainMenu:hover ._nSubMenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

._nSub {
}

._nChildMenu {
  display: none;
  transform: translateX(calc(100% - 40%));
  padding: 20px;
  background-color: rgb(33, 75, 92);
}

._nSubMenuItems:hover ._nChildMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
}
