<div class="_page">

    <ul class="_nNav">
        <li *ngFor="let mainItems of navMenu.menu" class="_nMainMenu">
            <span class="_nItemAndIcon">
                <mat-icon>{{mainItems.icon}}</mat-icon>
                <span>{{mainItems.title}}</span>
                <mat-icon *ngIf="mainItems.subMenu!.length">keyboard_arrow_down</mat-icon>
            </span>

            <ul class="_nSubMenu "> <!-- absolute hidden group-hover:block -->
                <li *ngFor="let subItems of mainItems.subMenu" class="_nSubMenuItems">
                    <div class="">
                        <span class="_nItemAndIcon">
                            <mat-icon>{{subItems.icon}}</mat-icon>
                            <span>{{subItems.title}}</span>
                            <mat-icon *ngIf="subItems.subMenu!.length">keyboard_arrow_right</mat-icon>
                        </span>
                    </div>
                    <ul *ngIf="subItems.subMenu!.length" class="_nChildMenu absolute">
                        <li *ngFor="let childItems of subItems.subMenu" class="_nChildItems">
                            <div #_nChildMenu class="_nChild">
                                <div class="_nItemAndIcon">
                                    <mat-icon>{{childItems.icon}}</mat-icon>
                                    <span>{{childItems.title}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- <div class="_nHasSubMenu group">
                    <div class="hasSubMenu">
                        <span class="_nItemAndIcons">
                            <span>{{mainItems.title}}</span>
                            <mat-icon>arrow_drop_down_circle</mat-icon>
                        </span>
                    </div>
                    <div *ngFor="let subItems of mainItems.subMenu">
                        <div class="_nSubItems"> 
                            <div class="_nItemAndIcons">
                                <mat-icon>{{subItems.icon}}</mat-icon>
                                <span>{{subItems.title}}</span>
                            </div>
                            <div *ngIf="subItems.hasOwnProperty('childMenu')" class="_nCldItems">
                                <div *ngFor="let childItems of subItems.childMenu">
                                    <span class="_nItemAndIcons">
                                        <mat-icon>{{childItems.icon}}</mat-icon>
                                        <span>{{childItems.title}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


        <li>
    </ul>

    <div>
        <div class="flex flex-col items-center">
            <p>custom-pipe works!</p>

            <div>
                <p>Short Date: {{ date | multiArg:'fr-FR':'short' }}</p>
                <p>Long Date: {{ date | multiArg:'fr-FR':'long' }}</p>
            </div>

            <button class="nButton" (click)="getUnique() ; getNmae()">getUnique</button>
        </div>
        <br>
    </div>
    <div class="_nFooter">
        <div class="foterContent">
            <div>Left</div>
            <div>Center</div>
            <div>Right</div>
        </div>
    </div>