<div class="p-4">
    <p>popup-content works!</p>
    <!-- <div>
        <h2>Example Dialog</h2>
        <div mat-dialog-content>
            <form>
                <input type="text" [(ngModel)]="data.firstName" name="first">
            </form>
        </div>
        <div mat-dialog-actions>
            <button (click)="dialogCancel()">Cancel</button>
            <button (click)="dialogOK()">OK</button>
        </div>
    </div> -->
    <h2 mat-dialog-title>Dialog Title</h2>
    <mat-dialog-content>
        <input type="text" [(ngModel)]="data.firstName" name="first" class="nInput">
    </mat-dialog-content>
    <div class="flex justify-end">
        <mat-dialog-actions class="flax gap-2">
            <button class="nButton" (click)="dialogOK()">Save</button>
            <button class="nButton" (click)="dialogCancel()">Cancel</button>
        </mat-dialog-actions>
    </div>

</div>