<div class="_nMainMenu">
    <div *ngFor="let mainItems of navMenu.menu" class="_nMainMenuItems">
        <a href="" class="_nMenuItems">
            <mat-icon>{{mainItems.icon}}</mat-icon>
            <span>{{mainItems.title}}</span>
            <mat-icon class="arrow" *ngIf="mainItems.subMenu!.length">keyboard_arrow_down</mat-icon>
        </a>

        <div class="_nSubMenu">
            <div *ngFor="let subItems of mainItems.subMenu">
                <div class="_nSubMenuItems">
                    <a href="" class="_nMenuItems">
                        <mat-icon>{{subItems.icon}}</mat-icon>
                        <span>{{subItems.title}}</span>
                        <mat-icon class="_nMatArrow" *ngIf="subItems.subMenu!.length">keyboard_arrow_right</mat-icon>
                    </a>
                    <div *ngIf="subItems.subMenu!.length" class="_nChildMenu">
                        <div *ngFor="let childItems of subItems.subMenu" class="_nChildMenuItems">
                            <a href="" class="_nMenuItems">
                                <mat-icon>{{childItems.icon}}</mat-icon>
                                <span>{{childItems.title}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ncontent">
    <div class="flex flex-col">
        <div class="npara">
            <p>Social key idea stuff. <a href='https://www.mcintyre.biz/'>gonzalez.com</a> Major start dream.</p>

            <p>Whom hit shoulder low fall. <a href='http://www.reed.net/'>perez.com</a> Recognize prove soldier or.
            </p>

            <p>Off can table him. <a href='https://warren.biz/'>williams-jones.com</a> Face smile can nation art
                news some.</p>

            <p>Blood reason course evidence service. <a href='https://www.johnson-booker.biz/'>white.org</a>
                Financial serious individual create western American less.</p>

            <p>Coach never heavy us everything address edge. <a href='http://www.davis.biz/'>white-bailey.biz</a>
                Peace almost wish.</p>
        </div>

        <div class="nbutton">
            <a href="#">Button_1</a>
            <a href="#">Button_2</a>
            <a href="#">Button_3</a>
            <a href="#">Button_4</a>
            <div>
                <a href="#">Button_5</a>
                <a href="#">Button_6</a>
                <a href="#">Button_7</a>
            </div>
            <div>
                <a href="#">Button_8</a>
                <a href="#">Button_9</a>
            </div>
            <div>
                <a href="#">Button_10</a>
            </div>
        </div>

        <form class="nform">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" />
            </div>
            <input type="radio" name="gender" value="male" />Male
            <input type="radio" name="gender" value="female" />Female
            <input type="radio" name="gender" value="other" />Other
            <input list="Options" />
            <datalist id="Options">
                <option value="Option1"></option>
                <option value="Option2"></option>
                <option value="Option3"></option>
            </datalist>

            <input type="submit" value="Submit" />
            <input type="color" />
            <input type="checkbox" name="correct" value="correct" />Correct
        </form>
    </div>
</div>




<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio facilis blanditiis, deleniti similique illum eius
    officia vero neque dolorem sit qui facere nisi itaque quaerat alias quos consequatur vitae repellat!
</p>