/* Navigation CSS */

._nMatArrow {
  margin-left: -0.5rem;
}

._nMenuItems {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

._nMenuItems:hover {
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(80deg, #1d4ed8, #838181 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.6em;
  background-position: 0% -15%;
}

._nMainMenu {
  background-color: rgb(82, 105, 99);
  display: flex;
  gap: 1rem;
}

._nMainMenuItems {
  padding: 1rem;
}

._nSubMenu {
  margin-top: 1rem;
  position: absolute;
}

._nSubMenuItems {
  display: none;
}

._nMainMenuItems:hover ._nSubMenuItems {
  display: flex;
  padding: 0.5rem;
  background-color: rgb(82, 105, 99);
}

._nChildMenu {
  position: absolute;
  transform: translateX(100%);
  position: absolute;
  background-color: rgb(82, 105, 99);
}

._nChildMenuItems {
  width: max-content;

  display: none;
}

._nSubMenuItems:hover ._nChildMenuItems {
  display: inline-flex;
  padding: 0.5rem;
}
