/* Navigation CSS */

._nMatArrow {
  margin-left: -0.5rem;
}

._nMenuItems {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

._nMenuItems:hover {
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #dbe5e6 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._nMainMenu {
  background-color: rgb(82, 105, 99);
  display: flex;
  gap: 1rem;
}

._nMainMenuItems {
  padding: 1rem;
}

._nSubMenu {
  margin-top: 1rem;
  position: absolute;
}

._nSubMenuItems {
  display: none;
}

._nMainMenuItems:hover ._nSubMenuItems {
  display: flex;
  padding: 0.5rem;
  background-color: rgb(82, 105, 99);
}

._nChildMenu {
  position: absolute;
  transform: translateX(100%);
  position: absolute;
  background-color: rgb(82, 105, 99);
}

._nChildMenuItems {
  width: max-content;

  display: none;
}

._nSubMenuItems:hover ._nChildMenuItems {
  display: inline-flex;
  padding: 0.5rem;
}
