<div class="_nMainMenu">
    <div *ngFor="let mainItems of navMenu.menu" class="_nMainMenuItems">
        <a href="" class="_nMenuItems">
            <mat-icon>{{mainItems.icon}}</mat-icon>
            <span>{{mainItems.title}}</span>
            <mat-icon class="_nMatArrow" *ngIf="mainItems.subMenu!.length">keyboard_arrow_down</mat-icon>
        </a>

        <div class="_nSubMenu">
            <div *ngFor="let subItems of mainItems.subMenu">
                <div class="_nSubMenuItems">
                    <a href="" class="_nMenuItems">
                        <mat-icon>{{subItems.icon}}</mat-icon>
                        <span>{{subItems.title}}</span>
                        <mat-icon class="_nMatArrow" *ngIf="subItems.subMenu!.length">keyboard_arrow_right</mat-icon>
                    </a>
                    <div *ngIf="subItems.subMenu!.length" class="_nChildMenu">
                        <div *ngFor="let childItems of subItems.subMenu" class="_nChildMenuItems">
                            <a href="" class="_nMenuItems">
                                <mat-icon>{{childItems.icon}}</mat-icon>
                                <span>{{childItems.title}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>