<div class="mt-3">
    <input [(ngModel)]="customCounterBtnInp" type="number" placeholder="Enter Number"
        class="border border-orange-400 rounded p-2 mr-3" />
    <button (click)="addCustomNumber()" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Add</button>
</div>
<div class="mt-3">
    <input [(ngModel)]="inpCounterMsg" type="text" placeholder="Enter Text"
        class="border border-orange-400 rounded p-2 mr-3" />
    <button (click)="addCustomTxt()" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Add</button>
    <div>msg subscription: {{msgOutput}}</div>
    <div>msg Observable: {{(msgObservable$ | async)}}</div>
</div>