.content {
  margin: 15px;
}

.prodImg {
  height: 185px;
  border-radius: 10px;
}

#prodTitleLogo {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 30px;
}

.productTitle {
  color: blue;
  font-weight: 900;
}

#cartIco {
  width: 45px;
}

.productCard {
  display: flex;
  gap: 1rem;
  margin: 10px;
  width: 300px;
  height: 380px;
}

.textDec {
  width: 150px;
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; /* keeps the element from overflowing its parent */
}

.cartBtn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add_buy {
  padding: 5px;
  border-radius: 5px;
}

.addToCart {
  background-color: rgb(215, 243, 250);
}

.buyNow {
  background-color: beige;
}
