@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular);
@import url(https://fonts.googleapis.com/css?family=Nova+Round:regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Nova Round", sans-serif;
}

body {
  font-family: "Varela Round";
}

.dark-theme {
  background-color: rgb(49, 48, 48);
  color: rgb(224, 220, 220);
}

.light-theme {
  background-color: rgb(241, 241, 241);
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nForm input {
  padding: 9px;
  font-size: 17px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid;
  border-color: transparent transparent #d6d6d6ff transparent; /* top right bottm left */
  box-shadow: 0 8px 6px -6px rgb(196, 195, 195);
}

.nForm input:focus {
  outline: none;
  border-width: 0px 0px 5px 0px;
  border-color: rgb(255, 30, 0);
  border-radius: 5px;
}

.nForm button {
  cursor: pointer;
  color: #ffffffff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(119, 117, 116);
  background-color: rgba(194, 98, 2, 0.922);
  box-shadow: -1px 0px 1px #000000;
}
.nForm button:hover {
  background-color: #ffffffff;
  color: #c24509ff;
  border: 1px solid #c24509ff;
}

.nForm button:disabled {
  background-color: rgba(148, 146, 144, 0.922);
  opacity: 40%;
  color: black;
  border: none;
  box-shadow: none;
  cursor: default;
}

.nSelect {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid;
  border-color: transparent transparent #d6d6d6ff transparent; /* top right bottm left */
  box-shadow: 0 8px 6px -6px rgb(196, 195, 195);
}

/* Style for the multiple select box */
.nMulti-select {
  width: 300px; /* Width of the select box */
  height: 150px; /* Height of the select box */
  border: 1px solid #ccc; /* Border color and width */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Shadow effect for 3D appearance */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #fff; /* Background color of the select box */
  color: #333; /* Text color */
  padding: 5px; /* Padding inside the select box */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Cursor type */
  border-radius: 4px; /* Rounded corners */
}

/* Style for individual options */
.nMulti-select option {
  padding: 8px 10px; /* Padding inside each option */
  margin: 4px 2px; /* Margin around options */
  border-bottom: 1px solid #eee; /* Border at the bottom of each option */
  background-color: #fafafa; /* Background color of options */
  cursor: pointer; /* Cursor type */
}

.nCheckbox {
  border: 1px solid blue;
  padding: 0 10px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

/* Hover effect for options */
.nMulti-select option:hover {
  background-color: #e6e6e6; /* Background color on hover */
}

/* Style for the selected options */
.nMulti-select option:checked,
.nMulti-select option:selected {
  background-color: #d1e0ff; /* Background color for selected options */
  color: #333; /* Text color for selected options */
}

.nInput {
  padding: 9px;
  font-size: 17px;
  background-color: #f0f3f0;
  color: #000000;
  border-radius: 5px;
  border: 1px solid;
  border-color: transparent transparent #d6d6d6ff transparent; /* top right bottm left */
  box-shadow: 0 8px 6px -6px rgb(196, 195, 195);
}
.nInput:focus {
  outline: none;
}

.nButton {
  cursor: pointer;
  color: #ffffffff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(194, 98, 2, 0.922);
  box-shadow: 0 8px 6px -6px rgb(5, 5, 5);
}
.nButton:hover {
  background-color: #ffffffff;
  color: #c24509ff;
  border: 1px solid #c24509ff;
}

.nButton:disabled {
  background-color: rgba(148, 146, 144, 0.922);
  opacity: 40%;
  color: black;
  border: none;
  box-shadow: none;
  cursor: default;
}
