<p class="underline underline-offset-8 decoration-blue-800">_share/input-output/counter-buttons works!</p>

<div class="flex gap-2">
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" (click)="onIncrement()">
        Increment
    </button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" (click)="onDecrement()">
        Decrement
    </button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" (click)="onReset()">
        Reset
    </button>
</div>