<div mat-dialog-content class="">
    <div class="flex justify-center">
        <div class="flex flex-col gap-2 w-full max-w-screen-md  m-4">
            <div class="flex gap-2">
                <input readonly [(ngModel)]="inp_id" type="number" placeholder="id"
                    class="w-2/12 border border-orange-400 rounded p-2">
                <input [(ngModel)]="inp_userId" type="number" placeholder="UserID"
                    class="w-2/12 border border-orange-400 rounded p-2" autofocus>
                <input [(ngModel)]="inp_title" type="text" placeholder="Post Title"
                    class="w-10/12 border border-orange-400 rounded p-2">
            </div>
            <div class="">
                <input [(ngModel)]="inp_body" type="text" placeholder="Post body"
                    class="w-full border border-orange-400 rounded p-2">
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions class="flex justify-center mt-4">
    <button mat-button (click)="dialogOK()" class="w-full bg-blue-500 hover:bg-blue-700 text-white py-2 px-4">
        OK
    </button>
    <button mat-button mat-dialog-close (click)="dialogCancel()"
        class="w-full bg-orange-500 hover:bg-orange-700 text-white py-2 px-4">
        Cancel
    </button>
</div>